<div class="col-md-12 ">
 <div class="row box">
   <!-- <div id="myCarousel" class="carousel slide">
     <ol class="carousel-indicators">
       <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
       <li data-target="#myCarousel" data-slide-to="1"></li>
       <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
       <div class="item active">
        <a href="javacript:;">
         <img src="https://ws2.sinaimg.cn/large/006tNc79ly1ffxys7chwej31hc0v0wru.jpg" style="width:1200;">
         <div class="carousel-caption"></div>
        </a>
       </div>
       <div class="item">
        <a href="javacript:;">
         <img src="https://ws2.sinaimg.cn/large/006tNbRwgy1fg0d5lfr85j30zk0npjwi.jpg">
         <div class="carousel-caption"></div>
        </a>
       </div>
       <div class="item">
        <a href="javacript:;">
         <img src="https://ws1.sinaimg.cn/large/006tKfTcgy1fg0d6okou8j30zk0nadku.jpg">
         <div class="carousel-caption"></div>
        </a>
       </div>
     </div>
   </div> -->
   <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">Music Store</h1>
      <p class="slogan">在这里，遇见以声相许
      <br>
      <br>
       这不是简单的擦肩而过，而是回味悠长的邂逅
      </p>
      <p class="lead"><a class="btn btn-lg btn-danger" href="/products">开始选购</a></p>
    </div>
  </div>
</div>

      <div class="lp">
        <div class="lp-bg-gray">
          <h3 class="title tc f22 pb50 text-center">热卖的声音</h3>

          <ul class="productList clearfix">
            <% Product.all.includes(:photos).each_with_index do |product, index| %>
    				    <% if index < 10 %>
                <%= render :partial => "product_item", locals: { product: product, index: index } %>
            <% end %>
            <% end %>
          </ul>
    </div>
  </div>
</div>
