<div class="col-md-12 ">
 <div class="row box">
   <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">Music Store</h1>
      <p class="slogan">在这里，遇见以声相许
      <br>
      <br>
       这不是简单的擦肩而过，而是回味悠长的邂逅
      </p>
      <p class="lead"><a class="btn btn-lg btn-danger" href="/products">开始选购</a></p>
    </div>
  </div>
</div>

      <div class="lp">
        <div class="lp-bg-gray">
          <h3 class="title tc f22 pb50 text-center">热卖的声音</h3>

          <ul class="productList clearfix">
            <% Product.all.includes(:photos).each_with_index do |product, index| %>
    				    <% if index < 10 %>
                <%= render :partial => "product_item", locals: { product: product, index: index } %>
            <% end %>
            <% end %>
          </ul>
    </div>
  </div>
</div>
