<div class="col-md-12 col-centered">
  <div class="panel panel-info">
    <div class="panel-heading text-left">
      <h2>产品分类</h2>
    </div>
    <div class="panel-footer">
      <div class="pull-right" style="padding-bottom: 20px;">
          <%= link_to("新建分类", new_admin_category_path, class: "btn btn-primary btn-sm") %>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>分类名称</th>
            <th colspan="2">设置</th>
          </tr>
        </thead>

        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
              <td><%= link_to 'Destroy', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
