<div class="world">
    <audio class="music" src="Eutopia.mp3" autoplay controls loop hidden>
    </audio>

  <!-- <div id="carouselExampleControls" class="clearfix carousel slide" data-ride="carousel"> -->
  <div class="banner-m tc pt30 w1200 bc">
    <div id="myCarousel1" class="clearfix carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel1" data-slide-to="1"></li>
        <li data-target="#myCarousel1" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <a href="javacript:;">
          <img src="music01.png" alt="music-pic" style="width:100%;margin:auto;">
          </a>
        </div>

        <div class="item">
          <a href="javacript:;">
          <img src="music05.png" alt="music-pic" style="width:100%; margin:auto;">
          </a>
        </div>

        <div class="item">
          <a href="javacript:;">
          <img src="music04.png" alt="music-pic" style="width:100%; margin:auto;">
          </a>
        </div>
      </div>
    </div>
  </div>



  <div class="clearfix coming">
    <a class="mg-btn" href="/products">
      Let's Play
    </a>
    <div>

</div>
