// Place all the styles related to the music controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.world {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(to top, #1CB5E0, #000046);
  background: linear-gradient(to top, #1CB5E0, #000046);
  a:hover {
    color: #1CB5E0;
  }
}

//button
.coming {
  height: 50px;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.mg-btn {
  display: inline-block;
  position: relative;
  width: 180px;
  height: 48px;
  line-height: 45px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  text-align: center;
}

// slides

/*轮播图*/
.banner-m img {
  width: 1200px;
  height: 1000px;
  margin: 0px auto;
  // overflow: hidden;
}

.carousel {
    position: relative;
    height: 650px;
}

.carousel-inner {
  height: 630px;
  text-align: center;
  width: 100%;
}
