// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*商品列表*/
.productList {
  margin: 20px auto;

}
.productList-item {
  float: left;
  width: 168px;
  height: 350px;
  background: #fff;
  margin-right: 12px;
  margin-bottom: 12px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.09);
  position: relative;
  top: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  &:hover {
    position: relative;
    top: -2px;
    box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.15);
    .productList-item-cartBtn {
    	display: block;
    }
  }
  img {
    width: 100%;
    height: 200px;
  //  border-radius: 8px;
  }
}
.productList-lastItem {
  margin-right: 0;
}
.productList-item-name {
  color: #333;
}
.productList-item-price {
  color: #D32048;
}
.productList-item-desc {
  color: #808080;
}
.productList-item-cartBtn {
	top: 168px;
  right: 20px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: #fff;
	border-radius: 50%;
	display: none;
	-webkit-transition: all .1s;
  transition: all .1s;
}
.productList-item-cartBtn:hover {
	background: #D32048;
	.fa-shopping-cart {
		color: #fff;
	}
}
.productList-item-sellout {
	position: absolute;
	top: 80px;
	left: 50%;
	width: 70px;
	height: 70px;
	line-height: 70px;
	margin-left: -35px;
	font-size: 16px;
	background-color: rgba(0, 0, 0, .55);
	border-radius: 50%;
	color: #fff;
}
